@page
@model Lab15.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Выход";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    </div>
</div> 